In [18]:
import pandas as pd
import numpy as np

In [19]:
df = pd.read_csv("healthcare_dataset.csv")

In [20]:
df_clean = df.copy()

In [21]:
df_clean = df_clean.drop_duplicates()

In [22]:
df_clean.duplicated().sum()

np.int64(0)

In [25]:
df_clean['Age'] = df_clean['Age'].fillna(df_clean['Age'].median())

In [26]:
df_clean['Test Results'] = df_clean['Test Results'].fillna("Not Available")

In [27]:
df_clean = df_clean[df_clean['Age'] > 0]

In [28]:
df_clean = df_clean[df_clean['Billing Amount'] > 0]

In [29]:
df_clean['Date of Admission'] = pd.to_datetime(df_clean['Date of Admission'], errors='coerce')
df_clean['Discharge Date'] = pd.to_datetime(df_clean['Discharge Date'], errors='coerce')

In [30]:
df_clean[['Date of Admission', 'Discharge Date']].info()

<class 'pandas.core.frame.DataFrame'>
Index: 54860 entries, 0 to 55499
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date of Admission  54860 non-null  datetime64[ns]
 1   Discharge Date     54860 non-null  datetime64[ns]
dtypes: datetime64[ns](2)
memory usage: 1.3 MB

In [31]:
text_cols = ['Gender', 'Medical Condition', 'Admission Type', 'Blood Type']

for col in text_cols:
    df_clean[col] = df_clean[col].astype(str).str.strip().str.title()

In [32]:
df_clean.isna().sum()

Name                  0
Age                   0
Gender                0
Blood Type            0
Medical Condition     0
Date of Admission     0
Doctor                0
Hospital              0
Insurance Provider    0
Billing Amount        0
Room Number           0
Admission Type        0
Discharge Date        0
Medication            0
Test Results          0
dtype: int64

In [33]:
df_clean.describe()

,Age,Date of Admission,Billing Amount,Room Number,Discharge Date
count,54860.000000,54860,54860.000000,54860.000000,54860
mean,51.533850,2021-11-01 19:01:50.506744576,25594.633637,301.109752,2021-11-17 07:00:08.137076224
min,13.000000,2019-05-08 00:00:00,9.238787,101.000000,2019-05-09 00:00:00
25%,35.000000,2020-07-28 00:00:00,13299.747940,202.000000,2020-08-13 00:00:00
50%,52.000000,2021-11-02 00:00:00,25593.873000,302.000000,2021-11-18 00:00:00
75%,68.000000,2023-02-03 00:00:00,37847.066671,400.000000,2023-02-19 00:00:00
max,89.000000,2024-05-07 00:00:00,52764.276736,500.000000,2024-06-06 00:00:00
std,19.605295,NaN,14175.867041,115.217195,NaN

In [34]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 54860 entries, 0 to 55499
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                54860 non-null  object
 1   Age                 54860 non-null  int64
 2   Gender              54860 non-null  object
 3   Blood Type          54860 non-null  object
 4   Medical Condition   54860 non-null  object
 5   Date of Admission   54860 non-null  datetime64[ns]
 6   Doctor              54860 non-null  object
 7   Hospital            54860 non-null  object
 8   Insurance Provider  54860 non-null  object
 9   Billing Amount      54860 non-null  float64
 10  Room Number         54860 non-null  int64
 11  Admission Type      54860 non-null  object
 12  Discharge Date      54860 non-null  datetime64[ns]
 13  Medication          54860 non-null  object
 14  Test Results        54860 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(2), object(10)
memory usage: 6.7+ MB

In [35]:
df_clean.to_csv("healthcare_cleaned.csv", index=False)

### Data Cleaning Summary
- Removed duplicate records
- Handled missing values in Age and Test Results
- Removed invalid Age and Billing Amount records
- Converted date columns to datetime format
- Standardized categorical text fields