In [51]:
import pandas as pd
import numpy as np

df = pd.read_csv("healthcare_cleaned.csv")

In [52]:
def age_group(age):
    if age <= 18:
        return "Child (0-18)"
    elif age <= 40:
        return "Young Adult (19-40)"
    elif age <= 60:
        return "Middle Age (41-60)"
    else:
        return "Senior (60+)"

In [53]:
df['Age Group'] = df['Age'].apply(age_group)

In [54]:
low = df['Billing Amount'].quantile(0.33)
high = df['Billing Amount'].quantile(0.66)

In [55]:
def cost_group(bill):
    if bill <= low:
        return "Low Cost"
    elif bill <= high:
        return "Medium Cost"
    else:
        return "High Cost"

In [56]:
df['Cost Group'] = df['Billing Amount'].apply(cost_group)

In [57]:
high_risk_conditions = [
    "Heart Disease",
    "Cancer",
    "Stroke",
    "Chronic Kidney Disease"
]

In [58]:
def risk_level(row):
    if row['Medical Condition'] in high_risk_conditions and row['Cost Group'] == "High Cost":
        return "High Risk"
    elif row['Medical Condition'] in high_risk_conditions:
        return "Medium Risk"
    else:
        return "Low Risk"

In [59]:
df['Risk Level'] = df.apply(risk_level, axis=1)

In [60]:
df['Age Group'].value_counts()

Age Group
Senior (60+)           20135
Young Adult (19-40)    17537
Middle Age (41-60)     16303
Child (0-18)             885
Name: count, dtype: int64

In [61]:
df['Cost Group'].value_counts()

Cost Group
High Cost      18653
Low Cost       18104
Medium Cost    18103
Name: count, dtype: int64

In [62]:
df['Risk Level'].value_counts()

Risk Level
Low Risk       45739
Medium Risk     6143
High Risk       2978
Name: count, dtype: int64

In [63]:
pd.crosstab(df['Age Group'], df['Risk Level'])

Risk Level           High Risk  Low Risk  Medium Risk
Age Group
Child (0-18)                53       739           93
Middle Age (41-60)         890     13613         1800
Senior (60+)              1070     16786         2279
Young Adult (19-40)        965     14601         1971

In [64]:
pd.crosstab(df['Medical Condition'], df['Risk Level'])

Risk Level         High Risk  Low Risk  Medium Risk
Medical Condition
Arthritis                  0      9207            0
Asthma                     0      9077            0
Cancer                  2978         0         6143
Diabetes                   0      9197            0
Hypertension               0      9131            0
Obesity                    0      9127            0

In [65]:
df[df['Risk Level'] == "High Risk"].head()

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results,Age Group,Cost Group,Risk Level
7,CHrisTInA MARtinez,20,Female,A+,Cancer,2021-12-28,Suzanne Thomas,"Powell Robinson and Valdez,",Cigna,45820.462722,277,Emergency,2022-01-07,Paracetamol,Inconclusive,Young Adult (19-40),High Cost,High Risk
14,bROOkE brady,44,Female,Ab+,Cancer,2021-10-08,Roberta Stewart,Morris-Arellano,UnitedHealthcare,40701.599227,182,Urgent,2021-10-13,Paracetamol,Normal,Middle Age (41-60),High Cost,High Risk
44,pAUL wILLiAmS,81,Female,Ab-,Cancer,2020-08-23,Kristin Martinez,"Gates Brown, and Stuart",Medicare,42684.558885,328,Urgent,2020-09-08,Penicillin,Abnormal,Senior (60+),High Cost,High Risk
45,lYNn MaRtinez,65,Male,O+,Cancer,2022-10-12,Daniel Murphy,Group Armstrong,Medicare,45585.886560,300,Emergency,2022-11-02,Penicillin,Normal,Senior (60+),High Cost,High Risk
62,tRAvIs carTeR,18,Male,A+,Cancer,2022-07-06,Megan Hahn,"Moss and Ferguson, Baker",UnitedHealthcare,48407.386291,325,Emergency,2022-07-18,Aspirin,Normal,Child (0-18),High Cost,High Risk

### Patient Segmentation Insights
- Senior patients dominate the high-risk segment
- High-cost treatments are strongly associated with chronic conditions
- A small portion of patients contribute to a large share of billing costs
- Risk levels increase significantly with age and disease severity